langchain
openai
faiss-cpu
pandas
langgraph
streamlit
pyngrok
matplotlib
langchain-community
tiktoken
sentence-transformers
streamlit-option-menu
streamlit-lottie
python-docx
reportlab
pymupdf
pypdf2
numpy
scikit-learn
